:root {
    --board-size: calc(min(95vw, 95vh));
}

chessboard {
    display: flex;
    width: var(--board-size);
    height: auto;
    aspect-ratio: 1;
    flex-flow: wrap-reverse;
    margin: 20px auto;
    border: 2px solid #333;
}

square {
    display: inherit;
    width: calc(var(--board-size) / 8);
    height: auto;
    aspect-ratio: 1;
}

square.white {
    background-color: #f0d9b5;
    /* background-color: #ffffdd; */
}

square.black {
    background-color: #b58863;
    /* background-color: #86a666; */
}

piece {
    display: inherit;
    cursor: pointer;
    position: absolute;
    width: inherit;
    height: auto;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.white.pawn {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg');
}

.white.rook {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg');
}

.white.knight {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg');
}

.white.bishop {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg');
}

.white.queen {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg');
}

.white.king {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg');
}

.black.pawn {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg');
}

.black.rook {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg');
}

.black.knight {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg');
}

.black.bishop {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg');
}

.black.queen {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg');
}

.black.king {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg');
}