body {
    background-color: #f2f2f2;
    font-family: system-ui;
    font-size: xx-large;
}

button, select {
    background-color: #dee2e6;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid black;
    border-radius: 0px;
    text-align: center;
}

button:hover, select:hover, button:active, select:active {
    color: white;
    background: black;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.chess-interface {
    display: flex;
}

#settings {
    width: 50%;
    margin: 0 auto;
}

#player-select {
    width: 100%;
}
